<h1>Formulario de Orden</h1>
<form (ngSubmit)="submitOrder()" #orderForm="ngForm">
    <label for="cedula">Cédula o NIT:</label>
    <input type="text" id="cedula" name="cedula" [(ngModel)]="cedula" required>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required>

    <!-- <div *ngFor="let product of productos; let i = index">
        <label for="producto{{i + 1}}">Producto {{i + 1}}:</label>
        <input type="text" id="producto{{i + 1}}" [(ngModel)]="productos[i]" name="producto{{i + 1}}" required>
    </div> -->
    <div *ngFor="let product of productos; let i = index">
        <label for="producto{{i + 1}}">Producto {{i + 1}}:</label>
        <input type="text" id="producto{{i + 1}}" [value]="product" (change)="onProductChange($event, i)" name="producto{{i + 1}}" required>
    </div>
    
    
    

    <div class="containe-button">
        <button type="button" (click)="addProduct()">Agregar Producto</button>
        <button type="submit">Generar Orden</button>
    </div>

</form>